.feature-card-welcome {
    text-align: center;
    max-width: 600px;
    margin:  10px auto ;

    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 6px yellow, 0.1);
    border: 2px solid #d6f4fe;
    color: black;
}

.ion-card-welcome-tittle {
    color: black;
}

/* Sobrescribe el fondo del ion-item en el shadow DOM */
.custom-item {
    --background: #ffffff !important; /* Forzar fondo blanco */
    --inner-border-width: 0px;
    
    max-width: 500px;
    margin:  0 auto;
  }
  
  /* Asegura que el texto en los inputs dentro del IonItem sea negro */
  .custom-item ion-input {
    --background: #ffffff !important;
    --color: #000000 !important;
    
  }
  
  /*Si esta el modo oscuro habilitado, podemos forzar el tema claro para esta sección */
  body.light-mode .custom-item {
    --background: #ffffff !important;
  }
  
