.floating-buttons-container1 {
    position: static;
    bottom: 822px;
    left: 83px;



    z-index: 100;
  }
  
  .floating-buttons-container.is-visible {

  }
  
  .floating-buttons-wrapper1 {
    display: flex;
    gap: 43px;
  }
  

  
